<!-- sticky footer -->
<p class="text-center text-muted" style="position: fixed; bottom: 0px; margin: 0px !important; width: 100%; height: 40px; background-color: #fff; padding-top: 10px !important;">Created by <a href="https://www.jxdoyle.com/" target="_blank">James</a></p>
